<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>

<div th:replace="base :: nav"></div>

<div class="container">
    <div sec:authorize="hasAuthority('USER')">
    <div th:each ="message:${messages}">
        <p th:inline="text">
            title  : [[${message.title}]]<br/>
            the content : [[${message.content}]]<br/>
            posted date :[[${message.postDate}]]<br/>
            posted by: [[${message.postedBy}]]<br/>
        </p>
                <span th:if="${user_id == message.user.id}">
                    <a th:href="@{/update/{id}(id=${message.id})}">Update</a>
                    <a th:href="@{/delete/{id}(id=${message.id})}">Delete</a>
                </span>
                <a th:href="@{/detail/{id}(id=${message.id})}">Details</a>
    </div>
    </div>

    <div sec:authorize="hasAuthority('ADMIN')">
        <div th:each ="message:${messages}">
            <p th:inline="text">
                title  : [[${message.title}]]<br/>
                the content : [[${message.content}]]<br/>
                posted date :[[${message.postDate}]]<br/>
                posted by: [[${message.postedBy}]]<br/>
            </p>
            <a th:href="@{/update/{id}(id=${message.id})}">Update</a>
            <a th:href="@{/delete/{id}(id=${message.id})}">Delete</a>
            <a th:href="@{/detail/{id}(id=${message.id})}">Details</a>
        </div>
    </div>
</div>
<div th:replace="base :: footer"></div>
</body>
</html>