<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:insert="base :: header"></th:block>
    <style>
        body{
            background-image:url("https://res.cloudinary.com/dlj6qreoq/image/upload/v1559506319/Background-Picture-Html2_vzfvpz.jpg") ;
        }
        h2 {
            font:italic 5vw Baskerville,'fantasy';
            text-align: center;
        }

    </style>
</head>
<body>

<div th:replace="base :: nav"></div>

<div class="container">

    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <h2> messages</h2>



        <div sec:authorize="hasAuthority('USER')">
            <table>
                <tr>
                    <th>Title</th>
                    <th>Posted by</th>
                    <th></th>
                </tr>
                <tr th:each ="message:${messages}">
                    <td th:text="${message.title}"></td>
                    <td class="nav-item" sec:authorize="isAuthenticated()">  <span th:text="${#authentication.name}"></span></td>
                    <td th:text="${message.postDate}"></td>
                    <td>
                <span th:if="${user_id == message.user.id}">
                    <a th:href="@{/update/{id}(id=${message.id})}">Update</a>
                    <a th:href="@{/delete/{id}(id=${message.id})}">Delete</a>
                </span>
                        <a th:href="@{/detail/{id}(id=${message.id})}">Details</a>
                    </td>
                </tr>
            </table>
        </div>
            <div sec:authorize="hasAuthority('ADMIN')">
                <table>
                    <tr>
                        <th>Title</th>
                        <th>Posted by</th>
                        <th></th>
                    </tr>
                    <tr th:each ="message:${messages}">
                        <td th:text="${message.title}"></td>
                        <td th:text="${message.postedBy}"></td>
                        <td th:text="${message.postDate}"></td>
                        <td>
                            <a th:href="@{/update/{id}(id=${message.id})}">Update</a>
                            <a th:href="@{/delete/{id}(id=${message.id})}">Delete</a>
                            <a th:href="@{/detail/{id}(id=${message.id})}">Details</a>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>

<div th:replace="base :: footer"></div>
</body>
</html>