<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>All Courses</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>

<div th:replace="base :: nav"></div>

<div class="container">

    <div sec:authorize="hasAuthority('USER')">
            Title:<span th:text="${message.title}"></span><br/>

            Content:<span th:text="${message.content}"></span><br/>

            postdate:<span th:text="${message.postDate}"></span><br/>

            postedBy:<span th:text="${message.postedBy}"></span><br/>
            <span th:if="${user_id == message.user.id}">

            <a th:href="@{/delete/{id}(id=${message.id})}">delete this message</a>
            </span>

    </div>
    <div sec:authorize="hasAuthority('ADMIN')">
        Title:<span th:text="${message.title}"></span><br/>

        Content:<span th:text="${message.content}"></span><br/>

        postdate:<span th:text="${message.postDate}"></span><br/>

        postedBy:<span th:text="${message.postedBy}"></span><br/>
            <a th:href="@{/delete/{id}(id=${message.id})}">delete this message</a>

    </div>
</div>

<div th:replace="base :: footer"></div>
</body>
</html>